.notification {
  padding: 15px;
  margin: 10px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  width: 100%;
  transition: opacity 2s ease-in, visibility 2s ease-in;
  opacity: 0;
  visibility: hidden;
}

.notification.visible {
  opacity: 1;
  visibility: visible;
}

.notification div {
  display: flex;
  align-items: center;
}

.success {
  background-color: #4caf50;
}
.info {
  background-color: #2196f3;
}
.warning {
  background-color: #ff9800;
}
.error {
  background-color: #f44336;
}

.closeBtn {
  margin-left: 5px;
  cursor: pointer;
  display: flex;
  align-items: end;
}

.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
}
.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
}
.bottom-left {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
.bottom-right {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
@media screen and (max-width: 768px) {
  .notification {
    font-size: 12px;
  }
}
